*{
font-family: "Montserrat";
font-weight: 700;
line-height: 100%;
letter-spacing: 0%;

}

.cabecalho{
    background: #02A28F;
width: 100%;
height: 80px;
padding-top: 1px;
padding-bottom: 10px;
padding-left: 150px;
gap: 5px;

}

.cabecalho h1{
    width: 100;
height: 30;
color: #ffffff;
font-size: 36px;
line-height: 100%;

}



.container-principal{
     display: block;
    width: 900px;
    height: 480px;
    margin-top: 50px;
    margin-left: 150px;
background: linear-gradient(10deg, rgba(0, 0, 0, 0.8)0%,rgba(241, 232, 232, 0.1)), url('/background/cce850e598e266707f8ec4ed9dc3e8c36b7667dc.jpg');
 background-position: center;
position: relative;
background-size: cover;
border-radius: 10px;
}

.banner-text{
display: block;
  padding: 10px;      
  line-height: 70px;  
   flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    left: 20px;
    max-width: 508px
}

    #banner-text1{
            margin: 0.4em 0 0.4em 0;
    padding: 1;
    color:#ffffff;
        align-self: end;
     font-size: 1.6em;
           justify-content: space-around;
    letter-spacing: 1.4px;  
}


#banner-text2{
color: #ffffff;
       font-size: 1.1em;
    font-weight: 350;
    letter-spacing:0%;
    margin: 0 ;
    gap: 1;
}

.letra{
 font-weight: 700;
 font-size: 1em;
}


#container-posts{
    display: flex;
    flex-direction: column;
            width: 60%;
    margin-left: 58em;
        gap: 12px;

}

.titulo-caixa{
    width: 100%;
    height: 60px;
    padding-left: 10px;
    
    border-radius: 10px;
    border: #02A28F solid 2px;
    background-color: #02A28F;
 object-fit: cover;
  box-shadow: #e0e0e0e0 0 10px 6px;
}

.titulo-caixa h2{
    color: #fafcfc;
    font-size: 1.5em;
    font-weight: 500;
     margin-left: 15px;
        
}

.posts{
    display: flex;
    width: 100%;
    height: 89px;
     align-items:center ;
    border-radius: 5px;
    background-color: #ffffff;
    gap: 10px;
    box-shadow: #e0e0e0e0 0 10px 6px;
    margin: 10px 0;
    padding: 10px;
}

#container-posts img{
    max-width: 150px;
    width: 100%;
    height: 90px;
    border-radius: 10%;
    margin-left: 10px;
  
}

#container-posts h3{
   font-size: 1.1em;
   color: #000000;
   margin-left: 10px;
  margin-top: -33px;

   
}
#container-posts p{
   font-size: 0.9em;
   font-weight: 400;
   color: #000000;
   margin-left: 10px;
  margin-top: -10px;
  
}

#teste{
    display: flex;
}

.qualquer-coisa{
    display: block;
   box-shadow: #e0e0e0e0 0 10px 6px;
    width: 56.5em;
    height: fit-content;
        margin-top: 24px;
    margin-left: 150px;

}


  #posts-recentes{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 100%;
    gap: 15px;
    justify-items: center; align-content: space-between
   h
 
  
  }

.cards{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60em;
    max-height: fit-content;
    box-shadow: #e0e0e0e0 0 10px 6px;
    border-radius: 10px;
}


  .imagem-posts-recentes{
    position: relative;
    max-width: 100%;
      border-radius: 10px 10px 0 0;
       max-height: 30%;
       object-fit: cover;
       
  }

  .titulo-posts-recentes{
        display: flex;
            border-radius: 10px;
    background-color:  #02A28F;
        box-shadow: #e0e0e0e0 0 10px 6px;
        gap: 10px;
        margin-bottom: 1em;
     
}
.titulo-posts-recentes h2{
    color: white;
    font-size: 400;
    font-weight: 700;
    margin-left: 15px;

    }
    .qualquer-coisa button{ 
        background-color: transparent;
        opacity: 1;
        border: none;
        border-radius: 5px;
       display: inline-block;
        cursor: pointer;
        text-decoration-line: underline;
        color: #ffffff;
        margin-left: 37em;
    }
    
   .cards a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0.5em;
    display: block; 
color: #02A28F;
font-size: 300;
font-weight: 200;
}

    .textosbox{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        text-decoration: none;
        font-weight: 700;
        font-size: 1em;
        flex-grow: 1;
      
    }


    .textosbox h3{
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        
    }

    .textosbox p:last-of-type {
    margin-top: auto;}
  
  span{
        font-weight: 400;
        font-size: 1em;
        color: #02A28F;
        line-height: 100%;
    }

    .cards p{
        font-size: 0.9em;
        font-weight: 700;
        color: #000000c7;
        line-height: 100%;
            margin: 15px 16px;
    }

 .cards h3{
    margin: 15px 16px;
    font-size: 1.2em;
    font-weight: 700;
    font-style: bold;
    
 }



.container-categorias{
  margin: 24px;
    width: 30%;
    height: 50px;   
   justify-content: space-around;
}


   .categorias{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    gap: 10px;
    font-size: 1.2em;
    font-weight: 500;
    color: #000000c7;
    justify-content: space-between;
   }

  #lista-categorias{
    display: grid;
    grid-template-columns: repeat(2fr, 1fr);
    grid-template-rows: 2fr;
    width: 100%;
    height: 100%;
   }

